<footer class="footer" role="contentinfo">
	<div class="wrapper">
		<p>
			Made in France by <a href="https://mastodon.social/@HTeuMeuLeu">@HTeuMeuLeu</a>
		</p>
		<div class="bubble">
			{%- if slug == "encoder" -%}
			<p>
				Huge thanks to <a href="https://github.com/jaames">@jaames</a> for his personal help and his <a href="https://github.com/cranksters/playdate-reverse-engineering">Playdate reverse engineering</a>. And thanks to <a href="https://twitter.com/davehayden">Dave Hayden</a> for his <a href="https://devforum.play.date/t/video-encoder-work-in-progress-mac-only/1390/6">1bitvideo</a> app.
			</p>
			{%- elsif slug == "stream" -%}
			<p>
				Huge thanks to <a href="https://github.com/jaames">@jaames</a> for his <a href="https://github.com/cranksters/pd-usb"><code>pd-usb</code></a> library.
			</p>
			{%- endif -%}
			<p>
				<b>Play videos on Playdate with <a href="https://hteumeuleu.itch.io/playorama/">Playorama</a>!</b>
			</p>
		</div>
	</div>
</footer>
