@import "_utilities/_functions";
@import "_utilities/_variables";
@import "../_pdv/_buttons";
@import "../_pdv/_layout";

.page--stream {
	.main {
		display: flex;
		flex-direction: column;

		& > .wrapper {
			margin: auto;
			max-width: rem(448px);
		}
	}

	.notice {
		max-width: 100%;
	}

	.notice p:first-child {
		text-align: center;
	}

	.warning {
		display: none;
		margin-block: 1rem;
	}

	button {
		font-weight: normal;
		font-size: 1rem;
	}

	.toolbar {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		gap: 0.5rem;
		width: 100%;
	}
}

@media only screen and (min-width:rem(1024px)) {
	.app .screen {
		margin: 1rem auto;
	}
}
