.app {
	max-width: rem(448px);
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: rem(16px);
}

.app-notice {
	text-align: center;
}

.app-preview {
	position: relative;
	max-width: rem(400px);
	width: calc(100% - #{rem(48px)});
	background-color: $color-black;
	border: rem(24px) solid #000;
	border-radius: rem(16px);
	box-sizing: content-box;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.app-preview-canvas,
.app-preview-video {
	position: relative;
	display: flex;
	width: 100%;
	height: auto;
	aspect-ratio: 400 / 240;
	background-color: #000;
	border-radius: rem(3px);
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.app-preview-video {
	object-fit: cover;
	opacity: 0;
	transition: opacity linear 0.1s;
}

.app-preview-canvas,
.app-preview:hover .app-preview-video[controls].is-visible-on-hover,
.app-preview-video[controls]:focus {
	opacity: 0.8;
}

.app-toolbar {
	display: flex;
	margin-bottom: 1rem;
	column-gap: rem(8px);
	row-gap: rem(32px);
	width: 100%;
	justify-content: space-between;

	@media only screen and (max-width: rem(480px)) {
		flex-direction: column;
	}

	select {
		font-family: inherit;
		font-size: inherit;
		min-height: rem(32px);
		padding-inline: rem(8px);
	}

	input[type="radio"] {
		width: rem(16px);
		height: rem(16px);
	}

	input[type="file"] {
		font-size: inherit;
	}
}

.app-toolbar-fieldset {
	display: flex;
	flex-direction: column;
	gap: rem(8px);
}

.app-toolbar-field {
	display: flex;
	align-items: center;
	gap: rem(8px);
}

.app-toolbar-field-label {
	font-weight: bold;
}

.app-toolbar-field-file {
	max-width: rem(280px);
	overflow: hidden;
}

.app-message {
	text-align: right;
}

.app-message-value {
	display: block;
	text-align: right;
	font-variant-numeric: tabular-nums;
}

.app-toolbar-actions {
	display: flex;
	flex-direction: column;
	gap: rem(8px);
	text-align: right;
}
