.app {
	max-width: rem(448px);
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: rem(16px);
}

.app-notice {
	text-align: center;
}

.app-preview {
	position: relative;
	max-width: rem(400px);
	width: calc(100% - #{rem(48px)});
	background-color: $color-black;
	border: rem(24px) solid #000;
	border-radius: rem(16px);
	box-sizing: content-box;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.app-preview-canvas,
.app-preview-video {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 400 / 240;
	background-color: #000;
	border-radius: rem(3px);
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.app-preview-canvas {
	object-fit: cover;
	opacity: 0;
	transition: opacity linear 0.1s;
}

.app-preview:hover .app-preview-canvas,
.app-preview-video {
	opacity: 0.8;
}

.app-toolbar {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	gap: 0.5rem;
	width: 100%;
	justify-content: space-between;

	[disabled] ~ * {
		display: none;
	}

	span {
		display: flex;
		gap: 0.5rem;
	}
}

.app-toolbar-fieldset {
	display: flex;
	flex-direction: column;
	gap: rem(8px);
}

.app-toolbar-field {
	display: flex;
	gap: rem(8px);
}

.app-toolbar-field-label {
	font-weight: bold;
}
