.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(8px) rem(16px);
	color: #fff;
	background-color: $color-black;
	border-radius: rem(18px);
	border: none;
	appearance: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
	font-weight: bold;
	font-size: rem(16px);
	line-height: 1;
	text-decoration: none;

	&:not([disabled]):active {
		transform: translateY(#{rem(2px)});
		transform: scale(0.94444);
	}

	&[disabled] {
		cursor: not-allowed;
		color: #212223;
		background-color: #b1afa7;
	}
}

input::file-selector-button {
	@extend .btn;
}

.btn--accent {
	background-color: $color-purple;
}
