.header {
	margin: rem(-16px) rem(-16px) rem(16px);
	padding: rem(8px) rem(16px);

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(32px);
	}

	img {
	}
}

.header-logo-img {
	translate: 0 rem(2px);
	filter: invert(1);
	width: rem(180px);
	height: auto;
}

.header-nav {
	display: flex;

	a {
		padding: rem(8px) rem(16px);
		font-weight: bold;
		font-size: rem(20px);
		line-height: 1;
		text-decoration: none;
		border-radius: rem(18px);
	}
}

.header-nav-link {
	color: black;

	&:is(:hover, :focus) {
		background-color: rgba(255,255,255,0.25);
	}
}

.header-nav-btn {
	color: $color-yellow;
	background-color: black;

	&:is(:hover, :focus) {
		opacity: 0.7;
	}

	&:is(:active, :focus) {
		outline-color: black;
	}
}
