.page--home {
	.main > .wrapper {
		display: grid;
		grid-template-rows: 1fr;
		max-width: rem(960px);
	}
	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		font-size: rem(20px);
		line-height: 1.1;
		color: #000;
		text-wrap: balance;

		h1 {
			font-weight: 900;
		}

		@media only screen and (min-width: rem(800px)) {
			font-size: rem(40px);
		}
	}
	.features-list {
		margin: rem(24px) auto;
		text-align: left;
		max-width: fit-content;
		list-style-position: outside;
		padding-left: 1.5em;

		li:not(:last-child) {
			margin-bottom: rem(4px);
		}
	}
}
