.page--videos {
	.main > .wrapper { margin:auto; max-width:unset; }

	.videos {
		display: grid;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		gap: rem(20px);
		padding-inline: rem(4px);
		grid-template-columns: repeat(1, 1fr);

		@media only screen and (min-width: rem(480px)) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media only screen and (min-width: rem(1040px)) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media only screen and (min-width: rem(1380px)) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.video {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: calc(100vw - #{rem(40px)});
		flex-shrink: 1;

		@media only screen and (min-width: rem(480px)) {
			max-width: calc((100vw - #{rem(60px)}) / 2);
		}

		@media only screen and (min-width: rem(1040px)) {
			max-width: calc((100vw - #{rem(80px)}) / 3);
		}

		@media only screen and (min-width: rem(1380px)) {
			max-width: calc((100vw - #{rem(100px)}) / 4);
		}
	}

	.video-media {
		position: relative;
		display: grid;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border-radius: rem(10px);
		margin-bottom: rem(4px);
		aspect-ratio: 400 / 240;
	}

	.video-img {
		display: block;
		border-radius: rem(12px);
		width: rem(400px);
		height: auto;
	}

	.video-title {
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.video-meta {
		font-size: rem(14px);
	}

	.video-duration {
		position: absolute;
		right: rem(8px);
		bottom: rem(8px);
		height: rem(20px);
		color: #fff;
		border-radius: rem(4px);
		background-color: rgba(0,0,0,0.6);
		padding: rem(1px) rem(4px);
		font-size: rem(12px);
		line-height: rem(18px);
		font-weight: 700;
	}
}
