@import "_utilities/_functions";
@import "_utilities/_variables";
@import "_buttons";
@import "_layout";
@import "_form";

.page--encoder {
	.main {
		display: flex;
		flex-direction: column;

		& > .wrapper {
			margin: auto;
		}
	}
}
