{%- assign timestamp = site.time | date:'%Y%m%d%I%M%S%L' -%}
{%- assign slug = page.name | remove: '.html' | slugify | default: 'default' -%}
{% if slug == 'default' %}
	{% if page.collection == 'videos' %}
		{%- assign slug = 'videos' -%}
	{% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}{%- if slug != "home" -%} - Playorama{%- endif -%}</title>
	<link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: timestamp | relative_url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta name="color-scheme" content="light dark" />
	{% if slug == "encoder" %}
	<script src="{{ 'assets/js/encoder.js?v=' | append: timestamp | relative_url }}"></script>
	{% else if slug == "stream" %}
	<script src="{{ 'assets/js/stream.js?v=' | append: timestamp | relative_url }}"></script>
	{% endif %}
</head>
<body>
	<div class="page{{ slug | prepend: ' page--' }}">
		{% include header.html %}
		<main class="main" role="main">
			<div class="wrapper">
				{{ content }}
			</div>
		</main>
		{% include footer.html %}
	</div>
</body>
</html>
